.animalName {
  font-weight: bold;
  font-size: 18px;
}
.url {
  color: grey;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  word-wrap: break-word;
}
.cardContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
img.activeCardClass {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-self: center;
}
