.resultCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #1a0dab;
  cursor: pointer;
  text-decoration: none;
}
.description {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.url {
  color: grey;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  word-wrap: break-word;
}
